name: Auto Commit

on:
  schedule:
    - cron: "30 18 * * *"
  workflow_dispatch:

jobs:
  auto-commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Update file
        run: echo "Updated on $(date)" >> log.txt

      - name: Commit changes
        run: |
          git config --global user.name "Sumit7162"
          git config --global user.email "sharmasumit716210@gmail.com"
          git add .
          git commit -m "Auto daily commit" || echo "No changes to commit"
          git push
